.card {
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  height: 60vh;
  margin: 15px auto;
  max-height: 400px;
  max-width: 300px;
  width: 85%;
}

.inner-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

.profile-photo {
  margin: 10px auto;
  width: 85%;
}