.App {
  margin: 0 auto;
  max-width: 800px;
  width: 95%;
}

.App-header {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.App-logo {
  height: 100px;
  margin: 0 auto;
}
